Source: reproweb
Version: 0.0.37
Description: reactive generic c++ web front controller with promises.
Build-Depends: gtest, openssl, cryptoneat, reprocpp, priocpp, priohttp, zlib, jsoncpp, reprocurl, diycpp, libiconv, expat